# HOCON (Human-Optimized Config Object Notation) format.

bindings {
  b {
    actionId: Git.Branches, description: Git branches
  },
  u {
    actionId: Vcs.UpdateProject, description: Update branch
  },
  p {
    actionId: Vcs.Push, description: Git push
  },
  q {
    actionId: Stop, description: Stop
  },
  t {
    actionId: ActivateTerminalToolWindow, description: Terminal
  },
  e {
    actionId: ActivateEndpointsToolWindow, description: Endpoints
  },
  m {
    actionId: HideAllWindows, description: Max
  },
}